<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>Password reset complete - Civil Service Learning</title>

    <content>
        <div class="container">
            <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">Password reset complete</h1>
                <p class="font-medium">Your new password has been changed</p>
            </div>
            <div class="grid-row push-bottom">
                <div class="column-two-thirds">
                    <h2 class="heading-medium">What happens next?</h2>
                    <p>You can now <a th:href="${lpgUiUrl}">sign into the Learning Platform for Government</a> with your new password.</p>
                </div>
            </div>
        </div>
    </content>
</page>
