<html th:fragment="page(title,content)" lang="en"
      xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title th:replace="${title}">Title</title>
        <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap-theme.min.css"/>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
    </head>

    <body>
    <nav lang="en" th:replace="fragments/nav :: nav"> </nav>
        <div class="container">
            <div id="content" class="col  align-self-center">
                <th:block th:include="${content}" />
            </div>
        </div>
    </body>
</html>
