<html th:fragment="page(title,content)" ang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8"/>
        <title th:replace="${title}">Title</title>
        <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap-theme.min.css"/>
    </head>

    <body>
    <nav lang="en" th:replace="fragments/nav :: nav"> </nav>
        <div class="container">
            <div id="content" class="col col-8 align-self-center">
                <th:block th:include="${content}" />
            </div>
        </div>
    </body>
</html>





