<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>Account</title>

    <content>
        <div class="container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-large">Account</h1>
                    <ul>
                        <li><a href="/account/password">Change your password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </content>
</page>