<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>Your email has been updated</title>

    <content>
        <div class="container">
            <div class="grid-row">
                <div class="govuk-box-highlight">
                    <h1 class="heading-xlarge">Change email complete</h1>
                    <p class="font-medium">Your updated email address
                        <br>
                        <strong><span th:text="${updatedEmail}">email</span></strong>
                    </p>

                </div>
                <div class="grid-row push-bottom">
                    <div class="column-two-thirds">
                        <h2 class="heading-medium">What happens next?</h2>
                        <p>You can now <a th:href="${lpgUiUrl}">login</a> to the Learning Platform for
                            Government</a>
                            with
                            your new email.</p>

                        <a href="/reset" class="push-bottom">Forgotten your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </content>
</page> 