<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>We've sent you an email</title>

    <content>
        <div class="container">
            <div class="grid-row">
                <div class="govuk-box-highlight">
                    <h1 class="heading-xlarge">Change email requested</h1>
                    <p class="font-medium">You have requested to change your email</p>
                </div>
                <div class="grid-row push-bottom">
                    <div class="column-two-thirds">
                        <h2 class="heading-medium">What happens next?</h2>
                        <p>We have sent you an email with a link to your new email address. Please use this to verify changes to your account.</p>
                    </div>
                </div>
            </div>
        </div>
    </content>
</page>