<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
        <title>Your password has been updated</title>

        <content>
            <div class="container">
                <div class="grid-row">
                    <div class="column-two-thirds">

                        <h1 class="heading-large">Your password has been updated</h1>
                        <p>Please <a href="/logout?returnTo=/login">login</a> to continue</p>

                        <a href="/reset" class="push-bottom">Forgotten your password?</a>
                    </div>
                </div>
            </div>
        </content>
    </page>