<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
<title>Change your email address</title>

<content>
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <a th:href="${lpgUiUrl} + '/profile'" class="link-back">Back</a>
                <div th:if="${param.emailAlreadyTaken}" class="error-summary" role="alert"
                     aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                        There was a problem with your email address
                    </h2>

                    <ul class="error-summary-list">
                        <li class="error-message">This email address is already taken</li>
                    </ul>
                </div>

                <div th:if="${param.invalidCode}" class="error-summary" role="alert"
                     aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-3">
                        There was a problem with your email address
                    </h2>

                    <ul class="error-summary-list">
                        <li class="error-message">We were unable to verify your email address.</li>
                    </ul>
                </div>

                <div th:if="${param.notValidEmailDomain}" class="error-summary" role="alert"
                     aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-4">
                        There was a problem with your email address
                    </h2>

                    <ul class="error-summary-list">
                        <li class="error-message">Your organisation is unable to use this service.  Please contact your line manager.</li>
                    </ul>
                </div>

                <div th:if="${#fields.hasErrors('${updateEmailForm.*}')}" class="error-summary" role="alert"
                     aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                        There was a problem with your email address
                    </h2>

                    <form th:object="${updateEmailForm}">
                        <ul class="error-summary-list">
                            <li th:object="${updateEmailForm}" th:if="${#fields.hasErrors('global')}"><a href="#email" th:errors="*{global}">Input is incorrect</a></li>
                        </ul>
                    </form>
                    <ul class="error-summary-list">

                        <li th:if="${#fields.hasErrors('${updateEmailForm.email}')}"><a href="#email"
                                                                                        th:errors="*{updateEmailForm.email}">Email is invalid</a></li>

                        <li th:if="${#fields.hasErrors('${updateEmailForm.confirm}')}"><a href="#confirm"
                                                                                          th:errors="*{updateEmailForm.confirm}">Email confirmation is required</a></li>
                    </ul>
                </div>

                <div th:if="${param.logout}" class="error-summary" role="alert"
                     aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                    You have been logged out.
                </div>

                <h1 class="heading-large">Change your email address</h1>

                <form autocomplete="nope" method="post" class="push-bottom" th:object="${updateEmailForm}">
                    <div class="form-group">
                        <label for="email" class="form-label">
                            New email address
                        </label>
                        <input class="form-control form-control-2-3" id="email" name="email" type="text">
                    </div>

                    <div class="form-group">
                        <label for="confirm" class="form-label">
                            Confirm new email address
                        </label>
                        <input class="form-control form-control-2-3" id="confirm" type="text" name="confirm">
                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div>
                        <input type="submit" class="button" value="Continue">
                    </div>
                </form>
            </div>
        </div>
    </div>
</content>
</page>