<page th:replace="fragments/layout :: page(~{::title},~{::content})">
    <title>Edit Identity</title>

    <content>
        <h1>Edit Identity</h1>

        <form action="#" th:action="@{/management/identities/edit}" th:object="${identity}" method="POST">
            <input type="hidden" th:field="*{uid}" /></p>
            <table class="table">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Active</th>
                    <th scope="col">Action</th>
                </tr>
                <tr>
                    <td th:text="${identity.email}"></td>
                    <td>
                        <select class="form-control"  multiple name="roleId" id="roleId">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${identity.getRoles().contains(role)}"></option>
                        </select>
                    </td>
                    <td><input  type="checkbox" th:field="*{active}" th:checked="${identity.active}"></td>
                    <td><button type="submit" class="btn btn-primary">Update</button></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <a class="btn btn-primary" href="/management/identities">
                            Cancel
                        </a>
                    </td>
                </tr>
            </table>

        </form>
    </content>
</page>