<page th:replace="fragments/layout :: page(~{::title},~{::content})">
    <title>Page title</title>

    <content>
        <h1>Invite User</h1>
        <br/>
        <form autocomplete="nope" action="#" th:action="@{/management/invite}" method="POST">
            <table class="table">
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                </tr>
                <tr>
                    <td>
                        <label class="d-none" th:for="name">Email:</label>
                        <input type="text" name="forEmail"/>
                    </td>
                    <td>
                        <label class="d-none" th:for="RoleId">RoleId:</label>
                        <select class="form-control" multiple name="roleId" id="roleId">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Invite</button>
                    </td>
                </tr>
            </table>
        </form>
        <h3 th:text="${status}"></h3>
        <table class="table">
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Status</th>
                <th scope="col">Invited At</th>
                <th scope="col">Accepted At</th>
                <th scope="col">Inviter</th>
            </tr>

            <tr th:each="invite : ${invites}">
                <td th:text="${invite.forEmail}"></td>
                <td th:text="${invite.status}"></td>
                <td th:text="${invite.invitedAt}"></td>
                <td th:text="${invite.acceptedAt}"></td>
                <td th:text="${invite.inviter.email}"></td>
            </tr>
        </table>
    </content>
</page>