<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>We've sent you an email - Civil Service Learning</title>

    <content>
        <div class="container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-large">We've sent you an email</h1>
                    <h2 class="heading-medium">What happens next?</h2>
                    <p>We have sent you an email with a link to <strong>continue creating your account</strong>.</p>
                </div>
            </div>
        </div>
    </content>
</page>
