<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>We've sent you an email</title>

    <content>
        <div class="container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-large">We've sent you an email</h1>
                    <p>What happens next</p>
                    <p>We have sent you an email with a link to continue creating your account.</p>
                </div>
            </div>
        </div>
    </content>
</page>
