<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Maintenance - Learning Platform for Government</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"/>
</head>

<body>
<div>
    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper container">
            <div class="header-global">
                <div class="header-logo">
                    <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                        <img src="/assets/img/gov.uk_logotype_crown_invert_trans.png" width="36" height="32" alt="">
                        GOV.UK
                    </a>
                </div>
            </div>
            <div class="header-proposition">
                <div class="content">
                    <a href='/' id='proposition-name'>Civil Service Learning</a>
                </div>
            </div>

        </div>
    </header>

    <div id="global-header-bar"></div>
    <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong> <a class="lpg-feedback-link"
                                                      href="https://www.smartsurvey.co.uk/s/CSHR-Privatebeta/"
                                                      target="_blank">Complete our survey to help us improve our new
            service (opens in new window)</a>.</p>
    </div>
</div>

<div id="content" class="col  align-self-center">
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">Maintenance</h1>

                <p class="lede">The learning website is undergoing scheduled maintenance this evening. It will be
                    unavailable for a short time after 7pm on Wednesday 12th February.</p>

                <p class="lede">Apologies for the inconvenience.</p>

                <p class="lede">If the maintenance period is extended, further information will be provided here.</p>

                <p class="lede">If you need to complete mandatory learning urgently, you can access the former Civil
                    Service Learning
                    website at:
                    <a target="_blank" href="https://civilservicelearning.civilservice.gov.uk/">https://civilservicelearning.civilservice.gov.uk/</a>
                </p>
            </div>
        </div>
    </div>
</div>


<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <div class="footer-meta">
            <div class="footer-meta-inner">
                <div>
                    <ul>
                        <li>
                            Built by the <a href="#">Civil Service Learning Platform</a>
                        </li>
                    </ul>
                </div>
                <div class="open-government-licence">
                    <p class="logo">
                        <a
                                href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                                rel="license">
                            Open Government Licence
                        </a>
                    </p>
                    <p>
                        All content is available under the
                        <a
                                href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
                                rel="license">
                            Open Government Licence v3.0
                        </a>, except where otherwise stated
                    </p>
                </div>
            </div>
            <div class="copyright">
                <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">
                    © Crown copyright
                </a>
            </div>
        </div>
    </div>
</footer>


<script>document.body.className = document.body.className.replace('', 'js-enabled');</script>

</body>
</html>
