<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>Sign Up Complete</title>

    <content>
        <div class="container">
            <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">Password reset email sent</h1>
                <p class="font-medium">Your should receive a link to reset your password.</p>
            </div>
            <div class="grid-row push-bottom">
                <div class="column-two-thirds">
                    <h2 class="heading-medium">What happens next?</h2>
                    <p>Reset password</p>
                </div>
            </div>
        </div>
    </content>
</page>
