<page th:replace="fragments/layout :: page(~{::title},~{::content})">
    <title>Role Management</title>

    <content>
        <h1>List of Roles</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr th:each="role : ${roles}">
                <td th:text="${role.name}"></td>
                <td th:text="${role.description}"></td>
                <td><a th:href="@{|/management/roles/edit/${role.id}|}">Edit</a></td>
            </tr>
        </table>
        <form action="#" th:action="@{/management/roles/create}" th:object="${role}" method="post">
            <p>Name: <input type="text" th:field="*{name}" /></p>
            <p>Description: <input type="text" th:field="*{description}" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </content>
</page>