<page xmlns:th="http://www.w3.org/1999/xhtml" th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>Create a password - Civil Service Learning</title>

    <content>
        <div class="container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <a href="/login" class="link-back">Back</a>
                    <div th:if="${#fields.hasErrors('${signupForm.*}')}" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">There was a problem with your password</h2>
                        <ul class="error-summary-list">
                            <li th:if="${#fields.hasErrors('${signupForm.password}')}"><a href="#password" th:errors="${signupForm.password}">Password is invalid</a></li>
                            <li th:if="${#fields.hasErrors('${signupForm.*}')}"><a href="#passwordConfirm" th:errors="${signupForm}">Passwords do not match</a></li>
                        </ul>
                    </div>

                    <div th:if="${status}" class="error-summary" role="alert"
                         aria-labelledby="error-summary-heading-example-1" tabindex="-1">
                        <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">There was
                            a problem</h2>
                        <ul class="error-summary-list">
                            <li><a href="#token" th:text="${status}">status ...</a></li>
                        </ul>
                    </div>

                    <h1 class="heading-large">Create a password</h1>
                    <p class="lede">Create a memorable password for your account.</p>

                    <div class="module-criteria u-space-b30" id="password-criteria-scope">
                        <p>Your password must have:</p>
                        <ul class="list-bullet criteria__list">
                            <li class="criteria__criterion" data-criteria="minLength" data-criteria-param="8">8 or more characters
                            </li>
                            <li class="criteria__criterion" data-criteria="hasNumeric">at least 1 number</li>
                            <li class="criteria__criterion" data-criteria="hasMixedCase">upper and lower case letters
                            </li>
                        </ul>
                    </div>

                    <form method="post" class="push-bottom" th:object="${signupForm}">

                        <div class="form-group" th:classappend="${#fields.hasErrors('password')} or ${#fields.hasErrors('${signupForm.*}')} ? form-group-error : ''">
                            <label th:for="password" class="form-label">Password</label>
                            <input class="form-control form-control-2-3" id="password" type="password" th:field="*{password}">
                        </div>

                        <div class="form-group" th:classappend="${#fields.hasErrors('confirmPassword')} or ${#fields.hasErrors('${signupForm.*}')} ? form-group-error : ''">
                            <label th:for="passwordConfirm" class="form-label">Re-type your Password</label>
                            <input class="form-control form-control-2-3" id="passwordConfirm" th:field="*{confirmPassword}" type="password"/>
                        </div>

                        <div th:object="${tokenRequest}" >
                            <input type="hidden" th:name="domain" th:value="*{domain}"/>
                            <input type="hidden" th:name="token" th:value="*{token}"/>
                            <input type="hidden" th:name="org" th:value="*{org}"/>
                        </div>

                        <input type="submit" class="button" value="Continue">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
    </content>
</page>
