<page th:replace="fragments/user-layout :: page(~{::title},~{::content})">
    <title>Sign up complete - Civil Service Learning</title>

    <content>
        <div class="container">
            <div class="govuk-box-highlight">
                <h1 class="heading-xlarge">Password creation complete</h1>
                <p class="font-medium">Your new password has been created</p>
            </div>
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-large">What happens next?</h1>
                    <p>You can now <a href="/login"> sign into the Learning Platform for Government</a> with your
                        new password.</p>
                </div>
            </div>
        </div>
    </content>
</page>
